//base
@import './base/color.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';
@import './base/configuration.scss';

//libs
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.scss';


//libs
@import './libs/ui/ui.scss';

//shell
@import './app/admin/shell.scss';

