<div class="admin-page">
  <p-card header="categories-form" subheader="list of headers">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <!-- <div class="p-toolbar-group-right"></div> -->
          <div class="p-toolbar-group-left">
            <p-button label="New" icon="pi pi-plus" Class="p-button-success p-mr-3">

            </p-button>

          </div>
          <div class="p-toolbar-group-left">
            <p-button label="Cancel" icon="pi pi-times" Class="p-button-success">

            </p-button>
          </div>
        </p-toolbar>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">

      </div>
    </div>

  </p-card>
</div>
