<div class="admin-page">
  <p-card header="Analytics" subheader="list of chart">
    <div class="grid">
      <div class="col">
        <h5>Pie Chart</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col">
            <p-card>
              <label for="name">Name</label>
              <input id="name" type="text" pInputText>
            </p-card>
          </div>
          <div class="field col">
            <p-card>
              <label for="icon">Icon</label>
              <input id="icon" type="text" pInputText>
            </p-card>
          </div>
        </div>

      </div>
    </div>

  </p-card>

</div>
